## Parte 1: Limpando e Primeiras Avaliações do DataSet
Vamos começar abrindo os arquivos `all_alpha_08.csv` e `all_alpha_18.csv` e observar os valores separadamente

In [50]:
# Vamos usar o Pandas para ler os arquivos CSV
import pandas as pd

df_08 = pd.read_csv("all_alpha_08.csv")
df_18 = pd.read_csv("all_alpha_18.csv")

In [37]:
# Vamos dar uma olhada nos DataFrames
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [38]:
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [39]:
# Vamos definir o número de rows em cada conjunto
print("Número de amostras \n2008: {0} \n2018: {1}".format(
        df_08.shape[0], df_18.shape[0]))

Número de amostras
2008: 2404
2018: 1611

In [40]:
# Vamos definir o número de colunas em cada conjunto
print("Número de colunas \n2008: {0} \n2018: {1}".format(
        df_08.shape[1], df_18.shape[1]))

Número de colunas
2008: 18
2018: 18

In [41]:
# Linhas duplicadas em cada conjunto
print("Linhas duplicadas \n2008: {0} \n2018: {1}".format(
        df_08.duplicated().sum(), df_18.duplicated().sum()))

Linhas duplicadas
2008: 25
2018: 0

In [42]:
# Verificando se tem números nulos em df_08
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [43]:
# Verificando se tem números nulos em df_18
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [44]:
# Usando uma função para checar o type de df_08
def check_types(df):
    for column in df.columns:
        print("coluna: {0}, tipo: {1}".format(column, type(df[column][0])))
check_types(df_08)

coluna: Model, tipo: <class 'str'>
coluna: Displ, tipo: <class 'numpy.float64'>
coluna: Cyl, tipo: <class 'str'>
coluna: Trans, tipo: <class 'str'>
coluna: Drive, tipo: <class 'str'>
coluna: Fuel, tipo: <class 'str'>
coluna: Sales Area, tipo: <class 'str'>
coluna: Stnd, tipo: <class 'str'>
coluna: Underhood ID, tipo: <class 'str'>
coluna: Veh Class, tipo: <class 'str'>
coluna: Air Pollution Score, tipo: <class 'str'>
coluna: FE Calc Appr, tipo: <class 'str'>
coluna: City MPG, tipo: <class 'str'>
coluna: Hwy MPG, tipo: <class 'str'>
coluna: Cmb MPG, tipo: <class 'str'>
coluna: Unadj Cmb MPG, tipo: <class 'numpy.float64'>
coluna: Greenhouse Gas Score, tipo: <class 'str'>
coluna: SmartWay, tipo: <class 'str'>

In [45]:
# Usando uma função para checar o type de df_08
check_types(df_18)

coluna: Model, tipo: <class 'str'>
coluna: Displ, tipo: <class 'numpy.float64'>
coluna: Cyl, tipo: <class 'numpy.float64'>
coluna: Trans, tipo: <class 'str'>
coluna: Drive, tipo: <class 'str'>
coluna: Fuel, tipo: <class 'str'>
coluna: Cert Region, tipo: <class 'str'>
coluna: Stnd, tipo: <class 'str'>
coluna: Stnd Description, tipo: <class 'str'>
coluna: Underhood ID, tipo: <class 'str'>
coluna: Veh Class, tipo: <class 'str'>
coluna: Air Pollution Score, tipo: <class 'numpy.int64'>
coluna: City MPG, tipo: <class 'str'>
coluna: Hwy MPG, tipo: <class 'str'>
coluna: Cmb MPG, tipo: <class 'str'>
coluna: Greenhouse Gas Score, tipo: <class 'numpy.int64'>
coluna: SmartWay, tipo: <class 'str'>
coluna: Comb CO2, tipo: <class 'str'>

In [46]:
# Procurando por valores unicos de df_08
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [47]:
# Procurando por valores unicos de df_18
df_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [48]:
# Procurando por valores unicos na coluna "Fuel" de df_08
df_08["Fuel"].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [49]:
# Procurando por valores unicos na coluna "Fuel" de df_18
df_18["Fuel"].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)